.hero {
    height: 771px;
    // padding-top: 63px;
    // padding-bottom: 113px;
}
.hero__container {
    position: relative;
    display: flex;
    // flex-direction: column;
}
.hero__title {
    position: absolute;
    left: 171px;
    top: 63px;
    width: 463px;
    font-weight: 700;
    font-size: 58px;
    line-height: 1.1;
}
.hero__subtitle {
    position: absolute;
    right: 130px;
    top: 202px;
    font-weight: 300;
    font-size: 34px;
    line-height: 1.1;
}
.hero__card {
    position: absolute;
    left: 117px;
    top: 393px;
    padding-top: 27px;
    padding-left: 37px;
    overflow: hidden;
    width: 486px;
    height: 265px;
    background: #FFFFFF;
    box-shadow: 0px 2.84946px 28.4946px rgba(0, 0, 0, 0.25);
    border-radius: 35.6183px;
}
.card__image {
    border-radius: 50%;
}
.card__wrap {
    position: absolute;
    left: 180px;
    top: 57px;
}
.card__name {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.25;
    color: #212353;
}
.card__job {
    font-weight: 400;
    font-size: 20.392px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #212353;
}
.card__text {
    margin-left: 93px;
    width: 310px;
    text-align: center;
    font-weight: 300;
    font-size: 18px;
    line-height: 1.27;
    color: #212353;
}
.hero__details{
    position: absolute;
    right: 92px;
    top: 286px;
    padding-top: 41px;
    padding-left: 59px;
    width: 682px;
    height: 372px;
    background: #3664D8;
    box-shadow: 0px 4px 28.49px rgba(0, 0, 0, 0.25);
    border-radius: 50px;
}
.details__item {
    padding-left: 26px;
    width: 250.8px;
    // height: 128.3px;
    background: #FFFFFF;
    border-radius: 19.8652px;
}
.details__item--left {
    position: absolute;
    top: 173px;
    left: 59px;
    padding-top: 18px;
    padding-bottom: 25px;
}
.details__item--right {
    position: absolute;
    top: 79px;
    right: 61.2px;
    padding-top: 17px;
    padding-bottom: 24px;
}
.details__title {
    max-width: 292px;
    font-weight: 800;
    font-size: 34px;
    line-height: 1.1;
    color: #FBFBFB;

}
.details__subtitle {
    font-weight: 600;
    font-size: 13px;
    line-height: 1.23;
    letter-spacing: 0.21px;
    color: #12121F;
}
.details__subtitle--right {
    margin-bottom: 19px;
}
.details__subtitle--left {
    margin-bottom: 10px;
}
.detailes__price-wrap {
    display: flex;
    align-items: baseline;
    margin-bottom: 7px;
}
.details__price {
    margin-right: 9px;
    font-weight: 600;
    font-size: 23px;
    line-height: 1.21;
    letter-spacing: 0.206929px;
    color: #12121F;
}
.details__discount {
    font-weight: 600;
    font-size: 13px;
    line-height: 1.23px;
    letter-spacing: 0.206929px;
}
.details__discount--left {
color: #FE805C;
}
.details__discount--left::after {
    content: '';
    display: inline-block;
    height: 10px;
    width: 9px;
    background-image: url(../images/arrow.svg);
}
.details__discount--right {
color: #4643D3;
}
.details__discount--right::after {
    content: '';
    display: inline-block;
    height: 10px;
    width: 9px;
    background-image: url(../images/arrow-down.svg);
}
.details__descr {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    color: #AFAFBD;
}