.page-footer {
    padding-bottom: 34px;
    text-align: center;
}
.page-footer__title {
    font-weight: 200;
    font-size: 26px;
    line-height: 1.1;
    color: #212353;
    margin-bottom: 29px;
}
.page-footer__copyright {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.8;
    letter-spacing: 0.01em;
    color: #212353;
}
.page-footer__policy {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.8;
    letter-spacing: 0.01em;
    color: #212353;
}